<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTTextFieldPickerAndDataPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB53D2DE1CC4C5C200F2C341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB53D2F71CC4C5C200F2C341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB53D3021CC4C5C200F2C341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
